@page "/inventories"

<h3>Inventory List</h3>
<br />
<SearchInventoryComponent
    OnSearchInventory="OnInventroySearch"></SearchInventoryComponent>

<br />
<InventoryListComponent SearchTerm="@SearchTerm"></InventoryListComponent>

@code {
    public string SearchTerm = string.Empty;

    private void OnInventroySearch(string searchTerm)
    {
        this.SearchTerm = searchTerm;
    }

}
