<div class="input-group">
    <input 
        type="text" 
        class="form-control" 
        placeholder="Seach For Inventory"
           @bind-value="productNameToSearch" />
    <button 
        type="button" 
        class="btn-success input-group-text"
        @onclick="OnSearch"
    >Search</button>
</div>

@code {
    private string productNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchProducts { get; set; }
    public void OnSearch()
    {
        OnSearchProducts.InvokeAsync(productNameToSearch);
    }

}
