@inject NavigationManager NavMan 


@if(InventoriesStuff != null && InventoriesStuff.Count > 0)
{
    foreach (var inventory in InventoriesStuff)
    {
        <tr>
            <td>@inventory.InventoryName</td>
            <td>@inventory.Quantity</td>
            <td>@inventory.Price.ToString("c")</td>
            <td>
                <button type="button" class="btn btn-light" @onclick="@(() => EditInventory(inventory.InvetoryId))">
                    Edit
                </button>
            </td>
        </tr>
    }
}

@code {

    [Parameter]
    public List<Inventory> InventoriesStuff { get; set; } = new List<Inventory>();

    private void EditInventory(int inventoryId)
    {
        NavMan.NavigateTo($"/editinventory/{inventoryId}");
    }
}
