@inject IViewInventoriesByNameUseCases ViewThemInventories
@inject NavigationManager NavMan

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Qunaity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <InventoryListItemComponent InventoriesStuff="listInventories"></InventoryListItemComponent>
    </tbody>
</table>
<br />
<button 
    type="button"
    class="btn btn-primary"
    @onclick="AddInventory">
    Add Inventory
</button>

@code 
{
    private List<Inventory> listInventories = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listInventories = (await ViewThemInventories.ExecuteAsync(this.SearchTerm)).ToList();
    }

    private void AddInventory()
    {
        NavMan.NavigateTo("/addinventory");
    }
}
